<?xml version="1.0" encoding="UTF-8"?>
    <beans xmlns="http://www.springframework.org/schema/beans"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xmlns:aop="http://www.springframework.org/schema/aop"
           xmlns:tx="http://www.springframework.org/schema/tx"
           xmlns:context="http://www.springframework.org/schema/context"
           xsi:schemaLocation="http://www.springframework.org/schema/beans
                               http://www.springframework.org/schema/beans/spring-beans.xsd
                               http://www.springframework.org/schema/aop
                               http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
                               http://www.springframework.org/schema/tx
                               http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                               http://www.springframework.org/schema/context
                               http://www.springframework.org/schema/context/spring-context.xsd"
           default-autowire="byName">


    <bean name="parametersService"  id = "parametersService" class="com.soshiant.server.service.parameters.ParametersServiceImpl"/>

    <bean name="appLogService"      id = "appLogService" class="com.soshiant.server.service.log.AppLogServiceImpl"/>

    <bean name="monitoringService"  id = "monitoringService" class="com.soshiant.server.service.monitoring.MonitoringServiceImpl"/>

    <bean name="monitoringStub"     id = "monitoringStub" class="com.soshiant.server.stub.MonitoringStub"/>

    <bean name="smsService"         id = "smsService" class="com.soshiant.server.service.parameters.SmsServiceImpl"/>

    <bean name="emailService"       id = "emailService" class="com.soshiant.server.service.parameters.email.EmailServiceImpl"/>

    <bean name="loginService"       id = "loginService" class="com.soshiant.server.service.login.LoginServiceImpl"/>

    <bean name="userService"   id = "userService" class="com.soshiant.server.service.users.UserServiceImpl">
        <property name="passwordEncoder" ref="soshiantPasswordEncoder"/>
        <property name="saltSource" ref="soshiantSaltSource"/>
    </bean>

    <bean name="staffService" id="staffService" class="com.soshiant.server.service.staff.StaffServiceImpl"/>

    <bean name="serverService" id="serverService" class="com.soshiant.server.service.server.ServerServiceImpl"/>


</beans>